body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  background-color: white;
  border: none;
  color: dodgerblue;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid dodgerblue;
  border-radius: 5pt; 
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: dodgerblue; /* Green */
  color: white;
}